 /*variables*/
 :root {
    --pink: hsl(322, 100%, 66%);
    --verypalecyan: hsl(193, 100%, 96%);
    --verydarkcyan: hsl(192, 100%, 9%);
    --grayishblue: hsl(208, 11%, 55%);
}
 
 /*reset*/
 body,p,a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*fonts*/
@font-face {
    font-family: 'Poppins bold';
    src: url(Poppins-Bold.ttf);

    font-family: 'Poppins reg';
    src: url(Poppins-Regular.ttf);
}

h1 {
    font-family: 'Poppins bold', sans-serif;
    font-size: 1.8em;
    line-height: 40px;
    color: var(--verydarkcyan);
    padding: 0;
    margin: 0;
    margin-top: 20px;
    
    
}
h2 {
    font-family: 'Poppins bold', sans-serif;
    font-size: 1.5em;
    color: var(--grayishblue);
    margin-bottom: 15px;
}

h3 {
    font-family: 'Poppins bold', sans-serif;
    font-size: 1.0em;
    color: var(--grayishblue);
    padding: 0;
    margin: 0;
}

p {
    font-size: 0.3;
    font-weight: 300;
    margin-top: 0;
}

h1, h2, h3, p {
    padding: 0 40px;
}

/*base styles*/
body {
    overflow-x: hidden;
    font-size: 15px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Poppins reg';
    margin: 0 auto;
    position: absolute;
    width: 100vw;
    line-height: 25px;
}

li {
    list-style-type: none;
    padding: 0;
}


#logo {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
#logo img {
    width: 50%;
    height: 20%;
    margin: 0 auto;
}

.cert {
    color: var(--verydarkcyan);
}
.git {
    color: var(--verydarkcyan)
}


@media screen and (min-width: 600px) {
    .logo {
        width: 50%;
        height: 70%;
        margin: 20px auto 0 auto;
    }
    li {
        padding: 0;
    }
    #logo img {
    width: 30%;
    height: 30%;
    margin: 0 auto;
}
}